
/* reponsive media query csss */
@media (min-width: 320px) and (max-width:479px)
 {
.user-nAme
{
    display: none;
}
    .media01 img
    {
        width:100%;
    }
  .search
    {
        width: 40%;
        margin-top: 1px;
        margin-left: 61px;
    }
    .main-header .top-nav 
    {
        margin-right: 20px;
        margin-top: -58px;
    }
    .categorylist
    {
        display: block;
    }

     .star-css
    {
        font-size:10px;
        float: none !important;
    }
    .star-rating
    {
        margin-right: 57px;
        margin-top: 2px;
    }
  li.status-message a
    {
        color: #777;
        padding: 0px;
        font-weight: 500;
        font-size: 9px;
        font-family: 'Open Sans', sans-serif;
        width: 100%;
    }

  /*media query for notification*/
    .main-header .top-nav > li > a
    {
        padding: 10px 4px !important;
        line-height: 26px;
        display: block;
    }
   /*media query for notification*/
    .note-content .media-left{
        display: block;
        margin-bottom: 10px;
        width: auto;
    }

}
@media (min-width: 480px) and (max-width:599px)
 {
    .user-nAme
    {
        display:none;
    }
    .media01 img
    {
        width:100%;
    }
     .search
    {
        width: 55%;
        margin-top: 0px;
        margin-left: 60px;
    }
    .main-header .top-nav 
    {
        margin-right: 20px;
        margin-top: -58px;
    }
     .categorylist
    {
        display: block;
    }
  
     .star-css
    {
        font-size:10px;
        float: none !important;
    }
    .star-rating
    {
        margin-right: 158px;
        margin-top: 2px;
    }
  li.status-message a
    {
    
        font-size: 9px;
        width: 100%;
        padding:6px;
    }

    /*media query for notification*/
    .main-header .top-nav > li > a
    {
        padding: 10px 6px !important;
        line-height: 26px;
        display: block;

    }
    /*media query for notification*/
    .note-content .media-left{
        display: block;
        margin-bottom: 10px;
        width: auto;
    }
}
@media (min-width: 600px) and (max-width:767px)
 {
    .media01 img
    {
        width:100%;
    }
     .search
    {
         width: 56%;
         margin-top: 0px;
         margin-left: 66px;
    }
    .main-header .top-nav 
    {
        margin-right: 20px;
        margin-top: -58px;
    }
     .categorylist
    {
        display: block;
    }
      .star-css
    {
        font-size:9px;
        float: none !important;
    }
    .star-rating
    {
        margin-right: 286px;
        margin-top: 4px;
    }
    li.status-message a
    {
        padding: 5px;
    }

    /*media query for notification*/

    .main-header .top-nav > li > a
    {
        padding: 10px 6px !important;
        line-height: 26px;
        display: block;

    }

    /*media query for notification*/

    }
@media (min-width: 768px) and (max-width:991px)
 {
    .media01 img
    {
        width:100%;
    }
     .search
    {
        width: 155%;
         margin-top: 6px;
         margin-left: 0px;
    }
  /*  .main-header .top-nav 
    {
        margin-right: 20px;
        margin-top: -58px;
    }*/
     .categorylist
    {
        display: block;
    }
    li.status-message a {
        padding: 8px;
        font-size: 13px;
        
    }
       .star-css
    {
        font-size:9px;
        float: none !important;
    }
    .star-rating
    {
        margin-right: 400px;
        margin-top: 4px;
    }
    /*media query for notification*/

    .main-header .top-nav > li > a
    {
        padding: 10px 5px !important;
        line-height: 26px;
        display: block;

    }

    /*media query for notification*/
    .gallery-expander-contents div.image > img {
        width: 68%;
        display: block;
    }

 }


@media (min-width: 992px) and (max-width:1199px)
 {
    .media01 img
    {
        width:100%;
    }
 .search
    {
     width: 265%;
     margin-top: 6px;
     margin-left: 0px;
    }
     .main-header .top-nav 
    {
        margin-right: 25px;
        /*margin-top: -58px;*/
    }
    li.status-message a
    {
        padding: 5px;
    }

  }
