
/* reponsive media query csss */
@media (min-width: 320px) and (max-width:479px)
{
    /*css for search*/
    .main-header > .navbar {
        max-height: 90px;
    }
    .main-header .top-nav {
        margin-top: -6px !important;
    }
    .search-div
    {
        margin-top:142px;
    }
    .main-header .top-nav > li > a {
        line-height: 9px !important;
    }
    /*css for search end*/
    .user-nAme
    {
        display: none;
    }
    .media01 img
    {
        width:100%;
    }
    .search
    {
        width:102%;
        margin-top: 3px;
        margin-left: -11px;
    }
    .main-header .top-nav
    {
        margin-right: 20px;
        margin-top: -58px;
    }
    .categorylist
    {
        display: block;
    }

    .star-css
    {
        font-size:10px;
        float: none !important;
    }
    .star-rating
    {
        margin-right: 57px;
        margin-top: 2px;
    }
    li.status-message a
    {
        color: #777;
        padding: 0px;
        font-weight: 500;
        font-size: 9px;
        font-family: 'Open Sans', sans-serif;
        width: 100%;
    }

    /*media query for notification*/
    .main-header .top-nav > li > a
    {
        padding: 10px 4px !important;
        line-height: 26px;
        display: block;
    }
    /*media query for notification*/
    .note-content .media-left{
        display: block;
        margin-bottom: 10px;
        width: auto;
    }

}
@media (min-width: 480px) and (max-width:599px)
{/*css for search*/
    .main-header > .navbar {
        max-height: 90px;
    }
    .main-header .top-nav {
        margin-top: -6px !important;
    }
    .search-div
    {
        margin-top:120x;
    }
    .main-header .top-nav > li > a {
        line-height: 9px !important;
    }
    /*css for search end*/

    .user-nAme
    {
        display:none;
    }
    .media01 img
    {
        width:100%;
    }
    .search
    {
        width: 86%;
        margin-top: 5px;
    }
    .main-header .top-nav
    {
        margin-right: 138px;
    }
    .categorylist
    {
        display: block;
    }

    .star-css
    {
        font-size:10px;
        float: none !important;
    }
    .star-rating
    {
        margin-right: 158px;
        margin-top: 2px;
    }
    li.status-message a
    {

        font-size: 9px;
        width: 100%;
        padding:6px;
    }

    /*media query for notification*/
    .main-header .top-nav > li > a
    {
        padding: 10px 6px !important;
        line-height: 26px;
        display: block;

    }
    /*media query for notification*/
    .note-content .media-left{
        display: block;
        margin-bottom: 10px;
        width: auto;
    }
}
@media (min-width: 600px) and (max-width:767px)
{
    /*css for search*/
    .main-header > .navbar {
        max-height: 90px;
    }
    .main-header .top-nav {
        margin-top: -6px !important;
    }
    .search-div
    {
        margin-top:120px;
    }
    .main-header .top-nav > li > a {
        line-height: 9px !important;
    }
    /*css for search end*/
    .media01 img
    {
        width:100%;
    }
    .search
    {
        width: 65%;
        margin-top: 5px;
        margin-left: 6px;
    }
    .main-header .top-nav
    {
        margin-right: 271px;
    }
    .categorylist
    {
        display: block;
    }
    .star-css
    {
        font-size:9px;
        float: none !important;
    }
    .star-rating
    {
        margin-right: 286px;
        margin-top: 4px;
    }
    li.status-message a
    {
        padding: 5px;
    }

    /*media query for notification*/

    .main-header .top-nav > li > a
    {
        padding: 10px 6px !important;
        line-height: 26px;
        display: block;

    }

    /*media query for notification*/

}
@media (min-width: 768px) and (max-width:991px)
{
    .media01 img
    {
        width:100%;
    }
    .navbar-right {
        float: right !important;
        margin-right: -20px;
    }
    .search
    {
        width: 114%;
        margin-top: 6px;
        margin-left: 0px;
    }
    /*  .main-header .top-nav
      {
          margin-right: 20px;
          margin-top: -58px;
      }*/
    .categorylist
    {
        display: block;
    }
    li.status-message a {
        padding: 8px;
        font-size: 13px;

    }
    .star-css
    {
        font-size:9px;
        float: none !important;
    }
    .star-rating
    {
        margin-right: 400px;
        margin-top: 4px;
    }
    /*media query for notification*/

    .main-header .top-nav > li > a
    {
        padding: 10px 5px !important;
        line-height: 26px;
        display: block;

    }

    /*media query for notification*/
    .gallery-expander-contents div.image > img {
        width: 68%;
        display: block;
    }

}


@media (min-width: 992px) and (max-width:1199px)
{
    .media01 img
    {
        width:100%;
    }
    .search
    {
        width: 200%;
        margin-top: 6px;
        margin-left: 0px;
    }
    .main-header .top-nav
    {
        margin-right: 25px;
        /*margin-top: -58px;*/
    }
    li.status-message a
    {
        padding: 5px;
    }

}
