 body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #676464;
    line-height: 1.471;
    background-color: #ecf0f1;
}
ul li
{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
}
h1
{
    font-size: 34px
}
h2 
{
     font-size:24px;
}
h3
{
    font-size:13px;  
}
h4
{
    font-size: 14px;
}
h5
{
    font-size:12px
}
h6
{
    font-size: 10px;
}
tr th
{
    color:white;
}
p
{
font-family: 'Open Sans', sans-serif;   
font-size: 13px;
line-height: 2;
}

a
{
   font-size: 12px;
    color:#3498db;
}
 a:hover, a:active {
    text-decoration: none !important;
}
:active,
:focus {
    outline: none !important;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}
a.read-note
{
    color: #4267b2;
    font-weight: 700;
}
/* .btn
 {
     color:#fff;
 }
*/
 #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-color: transparent;
        padding-top: 10px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -63px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

    }
 
    .search-query:focus + button {
        z-index: 3;   
    }



   h4.student_name
    {
        font-weight: bold;
        font-size: 24px;
         font-family: 'Open Sans', sans-serif;
         color:#2c3e50;
    }
    p.user_type
    {
        font-size: 14px;
        color:#7f8c8d;
        font-family: 'Myriad Pro';
        font-weight: 100;
    }
    .user-edit p
    {
        margin: 0;

    }
 .user-edit a:hover
 {
    opacity: 0.8;
 }
 .comment-list p
 {
     line-height:1.5;
     
 }

    span.learn_more
    {
        color:#3498db;
        font-size: 14px;
        font-family: 'Myriad Pro';
        font-weight: 100;
    }
    p.user_count
    {
        font-size: 14px;
        font-family: 'Myriad Pro';
        font-weight: 100; 
        color: #7f8c8d; 
    }

    .user_login
    {
        margin-right: 46px;
    }


 
.note_div
{
    background-color: #ecf0f1;
    padding-top: 12px;
}



/* css for tabs */
.tab-content
{
    background-color:#fff;
}
span.note_count ,span.note_count01 ,span.note_count02
{
        font-size: 34px;
        font-family: 'Open Sans', sans-serif;
        font-weight:bold;
        text-align: center;
        color:#95a5a6;
        margin: 0 0 0 0.8em;
}
.recent_note ,.recent_note01 ,.recent_note02
{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color:#95a5a6;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}
.nav-tabs>li.active>a span.note_count,.nav-tabs>li.active>a .recent_note
{
    color:#e67333;       
}
.nav-tabs>li.active>a span.note_count01,.nav-tabs>li.active>a .recent_note01
{
    color:#8e44ad;       
}
.nav-tabs>li.active>a span.note_count02,.nav-tabs>li.active>a .recent_note02
{
    color:#16a085;       
}
a.notice_option
{
font-size: 13px;
color:#7f8c8d;
font-weight: 400;
font-family:'Open Sans', sans-serif;
}
a.notice_option:hover
{
    color:#676464;
}
a.more_option
{
    color:#2c3e50;
    font-size: 12px;
    float:right;
}
a.more_option:hover
{
    color:#8e44ad;
}

/* progress bar css*/
.progress-bar-vertical {
      width: 35px;
    min-height: 33px;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
.progress {
    height: 20px;
    margin-bottom: -12px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar
{
    background-color: #1abc9c;
}
.percent_only{
    
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    color: #7f8c8d;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
/* sponser_rgt css */
.sponsor_rgt
{
   padding:10px; 
}
.sidebar_modules
{
   
}
.sponsor_rgt h2
{
    font-weight: bold;
    font-size: 14px;
    color: #95a5a6;
    margin-top: 12px;
}
.sponsor_rgt p
{
    font-size: 13px;
    font-weight: 500;
    color: #2c3e50;
}
 .sidebar-separation-line {
    border-bottom: 1px solid #e2e2e2;
    margin: 0 5px 15px;
}
.separator
{
    border-bottom: 2px solid #95a5a6;

}
h4.question_topic
{
    color:#445261 !important;
    font-size: 14px !important;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
}

/* css for discussion forum */

 .forum-link a{
     background:#4267b2 !important;
     padding: 3px 10px;
     color: #fff;
 }

.forum_title h4
{
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    color:#95a5a6;
    font-weight: bold;
}
.time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 35px;
}
span.user_discuss a
{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}
span.user_discuss
{
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}

/*//// upload form ////*/
.uploader
{
    border: 2px dotted #A5A5C7;
    width: 100%;
    color: #92AAB0;
    text-align: center;
    vertical-align: middle;
    padding: 30px 0px;
    margin-top: 89px;
    font-size: 200%;

    cursor: default;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.uploader div.or {
    font-size: 50%;
    font-weight: bold;
    color: #C0C0C0;
    padding: 10px;
}

/*.uploader div.browser label {
    background-color: #5a7bc2;
    padding: 5px 15px;
    color: white;
    padding: 6px 0px;
    font-size: 40%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    display: block;
    width: 300px;
    margin: 20px auto 0px auto;

    box-shadow: 2px 2px 2px #888888;
}

.uploader div.browser span {
    cursor: pointer;
}


.uploader div.browser input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: .0;
    filter: alpha(opacity= 0);
    -o-transform: translate(250px,-50px) scale(1);
    -moz-transform: translate(-300px,0) scale(4);
    direction: ltr;
    cursor: pointer;
}

.uploader div.browser label:hover {
    background-color: #427fed;
}
*/
.browser
{
    margin-top: -12px;
}

.uploader div.browser label {
    background-color: #5a7bc2;
    padding: 5px 15px;
    color: white;
    padding: 16px 0px;
    font-size: 40%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    border-radius: 2px;position: relative;
    overflow: hidden;
    display: block;
    width: 300px;
    margin: 20px auto 0px auto;
    box-shadow: 2px 2px 2px #888888;
    /* text-align: center; */
}
.uploader div.browser input {
    margin: 10px 0px 0px 6em;
}
.uploader input
{
    margin-top: 12px;
    font-weight: bold;
    /* padding: 16px 0px; */
    border-radius: 2px;
    color: #fff;
}
.user_upload
{
    font-size: 16px;
    background-color: #0fc16b;
    border-color: #0fc16b;
}
/*title css of lesson*/
.content-text{
    margin-top: 0px;
}
 .lesson-page h4{
     color: #445261;
     text-transform: uppercase;
     font-size: 18px;
     font-weight: 500;
     margin-bottom: 8px;
 }

 /*listing of units and measurement*/
 .lesson-page ul li{
     list-style: disc;
     text-align: left;
 }
 .lesson-page p{
     font-size: 1em;
 }
 .lesson-page p, ul li{
     color: #222;
 }

 /*notes title*/
 .media-body h4{
     text-transform: none;
     font-weight: 400;
     margin-bottom: 0;
 }

 /*note-content*/
 .note-content{
     margin-bottom: 30px;
     border-bottom: 1px solid #CACACB;
 }

 /*breadcrumb*/
 .media-body .breadcrumb-link{
     margin: -5px 0 0 -13px;
     background-color: inherit;
     text-align: left;
  }
 .media-body .breadcrumb a{
     font-size: 11px;
     color: #747073;
 }
 .media-body .breadcrumb a:hover{
     color: #0e76bc;
 }

 /*links*/
 .links ul li {
     display: inline-block;
     margin: 0 5px 10px 0;
 }

 .links ul{
     text-align: left;
 }

 .links .sub-link{
     color: #fff;
     display: inline-block;
     padding: 0 5px 0 0;
     font-size: 13px;
     line-height: 25px;
 }
 a.exercise-link{
     background-color: #fd881c;
 }
 a.video-link{
     background-color: #87bc40;;
 }
 a.test-link{
     background-color: #0e76bc;
 }
 .sub-link i{
     background: rgba(0,0,0,0.1);
     padding: 5px 10px;
     transition: all 0.5s ease;
     font-size: 14px;
     color: #fff;
 }
.fa_icons{
    width: auto;
 }
 .sub-link:hover{
   opacity: 0.8;
 }

 a {
     transition: all 0.5s ease;
 }


 /*pagination*/
/* .page-counter{
     text-align: center;
 }
 .pagination li a{
     border-radius: 4px;
     color: #333;
     height: 25px;
     line-height: 25px;
     text-align: center;
     width: 25px;
     padding: 0;
     margin: 0 5px;
     background: #ddd;
     border: 0;
     border-bottom: 2px solid #ccc;
 }
 .pagination .active a {
     background-color: #34495e;
     color: #fff;
     cursor: hand;
     z-index: 2;
     border-bottom: 2px solid #34495e;
 }
 .pagination .active a:hover{
     background-color: #34495e;
     color: #fff;
     cursor: hand;
     z-index: 2;
     border-bottom: 2px solid #34495e;
 }

 .pagination li a:hover{
     z-index: 3;
     color: #fff;
     cursor: hand;
     background-color: #34495e;
     border-color: #34495e;
 }*/
 /*end pagination*/

/* For Unit Page */
h4.subject-head{
    color: #fff !important;
    padding: 10px 15px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
}
.lesson-page#classmisc h4.subject-head,
h4.subject-head,
.product-detail .download .btn-demo{
    background: #34495e;
/*      background: #8e298e;*/
    }
ul.panel-tab li {
    display: inline-block;
}

ul li {
    list-style: none;
}
ul.panel-tab li a {
    color: #333;
    padding: 0 5px;
}
h4.panel-title a {
    text-transform: none;
    color: #34495e;
    font-size: 14px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
}
.panel-title ul, .panel-body ul {
    padding-left: 0;
}
.panel-title ul {
    float: right;
}

.panel .panel-body .thumbnail:hover {
    background: #34495e;
}
.thumbnail .caption a {
    color: #333;
    display: block;
    font-size:14px;
}

.panel-title-bold
{
    font-weight:bold;   
    font-size:15px;
}
.lesson-page#classmisc h4.subject-head, h4.subject-head, .product-detail .download .btn-demo{
    background:#34495e;
}

.thumbnail .caption a:hover {
    color: #fff;
    }
/*.main-content{    margin-top: -19px;}*/
/*css unit end here*/

/*Start Tab style css*/
#c-tabs ul{
    margin:0 !important;
    padding: 0 !important;
}
.form-div{
    margin-top: 15px;
    float: right;
}
.whole-container{
    padding: 0;
}
.note-option{
    margin-bottom: 0 !important;
    background-color: transparent;
    margin-left:-13px;
}
#c-tabs ul li{
    list-style: none;
    padding: 5px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color:#34495e;
    font-family: 'Open Sans', sans-serif;
}
.c-active{
    border-bottom: 3px solid #27af61;
}
.c-container-div{
    /*padding: 2px;*/
    box-sizing: border-box;
}
.c-container-hidden{
    display: none;
}
/*End Tab style css*/
/*Start note contaier css*/
.heading-topic{
    margin: 0;
    margin-bottom: 10px;
    color: #4267b2;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.heading-second-topic{
    margin: 5px 0;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.c-button{
    background-color: #4267b2;
    border: none;
    margin: 5px 0;
    color: #fff;
    padding: 3px;
    font-size: 13px;
}
.c-button:hover{
    background-color: #009999;
}
.box-pre{
    height: 20px;
    margin-bottom: 10px;
    position: relative;
}
.box-pre p{
    position: absolute;
    height: 30px;
    line-height: 28px;
    background-color: #f5f5f5;
    border: 1px solid #008080;
    font-size: 17px;
}
 .box-pre p img {
     margin: 0 5px;
 }
.box-pre label{
    padding: 0 5px;
    background-color: #fff;
}
 .box-pre .icon {
     height: 26px;
     width: 30px;
     line-height: 25px;
     background-color: #ddd;
     color: #0e76bc;
     cursor: pointer;
     font-size: 15px;
 }
.box-pre .icon:hover{
    background-color: #ccc;
}
.comment-container{
    width: 100%;
}
.comment-container .container-user-comment{
    margin-bottom: 20px;
}
.comment-container .container-user-comment .box-details{
    margin-left: 45px;
    position: relative;
}
.comment-container .media-body h4{
    line-height: 0px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 13px;
}
.comment-container .comment-time{
    float: right;
    font-size: 10px;
}
.comment-container .media-body ul{
    margin: 0;
    padding: 0;
}
.comment-container .media-body ul li{
    list-style: none;
    margin-right: 5px;
    display: inline-block;
}
span.comment_user_name {
    font-weight: bold;
}
.list-head {
    background: #34495e;
    }

    .list-head h5 {
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 27px;
    padding: 0px 10px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.list-head span {
    font-size: 20px;
    background: rgba(0,0,0,0.1);
    padding: 8px 25px;
    float: left;
    color:#fff;
}

.list-head span {
    display: inline-block;
    padding-left: 9px;
}
.side-note {
    padding-top: 10px;
    background-color: #fff;
}
.note-block {
    margin-bottom: 6px;
    border-bottom: 1px solid #eee;
    padding: 9px;
}
.note-block h5
{
    color: #2c3e50;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}
.note-block a
{
    font-size: 13px;
    color: #34495e;
    font-family: 'Open Sans', sans-serif;
}
.note-block a:hover
{
    color:#008080;
}
.container-user-comment .media-body p
{
        margin-top: 12px;
}
.container-content p
{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
/*End note container css*/

/*start videos container css*/
.video-gallery
{
    background: #eee;
    transition: all 0.5s ease;
    border-radius: 0;
}
.video-gallery:hover
{
    background-color:#34495e;
}
.video-gallery .caption p a
{
    color: #222;
    font-size: 15px;
    text-align: center;
    line-height: 1.35;
}
.video-gallery .caption p a:hover
{  
    color:#fff;
}

/*css for exercise tab*/
.questions h3
{
    font-size: 16px;
    color: #008080;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
}

/*css for quiz tab*/
#practice_test {

 width: 100%; height: 320px;

background: #ddd; }

#practice_test li

{

padding:0px 20px;

}

#practice_test .correct_answer p

{

color:#009900;
font-size: 135%;
margin: 0 0 0 36px;
width:100%; 
display:block;

}

#practice_test .incorrect_answer p

{

color:#990000;
margin: 0 0 0 36px;
font-size: 120%;
width:100%;  
display:block;
font-weight: bold;

}
.btnContinue {
     padding: 2px;
    color: #fff;
    background-color: #008080;
    margin: 0 0 0 31px;
}
#practice_test li h3
{
    font-size:15px;
}
a span.test_again
{
    font-size: 15px;
    color:#34495E;
}

/* CSS of school-list page */
.searchTable {margin-top:120px !important}
.lesson-page
{
    margin-top: 8px;
}
.lesson-page h4 {
    text-transform: uppercase;
    color:#34495e;
    font-weight:500;
    font-size:17px;
}
.glossary a {
    display: inline-block;
    height: 34px;
    width: 36px;
    line-height: 36px;
    border-radius: 50%;
    background: #ddd;
    color: #333;
    text-align: center;
    font-size: 12px;
    transition: all 0.5s ease;
    margin: 0 10px 10px 0px;
}
.glossary a:hover, .glossary a.active {
    background: #008080;
    color: #fff;
    border-bottom: 3px solid #008080;
}
.list-group-item a{
    font-size:15px;
    color:#34495e;
    font-weight:500;
}
.searchTable th, .searchTable td {
  padding: 3px;
}
.searchTable tr.header{
  background-color: #D0CECE;
  height:40px;
}
.logo-circle{
    height:45px;
    width:55px;
}
.logo-rectangle{
    height:19px;
    width:70px;
}
.list-group-item {
    background-color: transparent; 
}
#example_wrapper{margin-top:20px}
.col-sm-6 #example_length .form-control {padding:5px;}

.lesson-page .col-sm-12 .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border:none;}
.lesson-page .col-md-9 .dataTables_wrapper div.dataTables_filter input {
    height: 32px;
}
/* END OF --SEARCH RESULT-- BY TABLE */
/* END of school-list page CSS */


/*=============forum css=================================================*/
 .ask-question
 {
     float: right;
     margin-top: -36px;
     /* margin: 0; */
     /* margin-bottom: -50px; */
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     font-weight: bold;
     font-size: 13px;
     background: #4267b2;
     padding: 5px;
     cursor:pointer;
 }
 .ask-question:hover
 {
     opacity: 0.8;
     color:#fff;
 }
.forum .media.user-quest {
    padding: 10px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
.forum .media {
    margin-bottom: 20px;
}
.forum .media .media-left img {
    max-width: 65px;
}
.forum .media .media-body h6 small {
    text-transform: none;
    font-size: 12px;
    color:#777 !important;
    font-weight:400;
}
.forum .media .media-body .user-name a {
    float: right;
}
a.warn, a.star {
    color: #f7a604;
}
.user-name h6
{
     font-size: 13px;
    color: #445261;
}
.comment h6
{
     font-size: 13px;
    color: #445261;
}

.btn-log {
    background: #34495E;
    border-bottom: 2px solid #34495E;
    color: #fff;
    border-radius: 0;
    transition: all 0.5s ease;
}
.btn-log:hover
{
    color:#fff;
    opacity: 0.8;
}
/*===========================forum topic css==========================*/
 /* start FORUM-PANEL csss */
 .lesson-page .col-md-9 .well{margin:1% 0;}
 .lesson-page .col-md-9 .well .media .media-middle .media-object {
     height:80px;
     width: 80px;
     margin-right:10px;
 }
 .forum-title{
     font-size:25px;
     font-weight:bold;
 }


 .lesson-page .col-md-9 .well-lg {
     padding:20px 0px;
 }
 .lesson-page .col-md-9 .well-lg .media-middle{
     vertical-align: top;
 }

 .lesson-page .col-md-9 .media .media-left, .forum-title, .forum-sub-title{
     padding-left: 20px;
 }

 .forum-topic  thead {
     background: #34495E;
 }

 .forum-topic .well-lg{
     border-width: 3px;
     margin-bottom: 6px;
 }
 .forum-topic .well-lg:hover{
     background: rgba(245, 245, 245, 0.55);
     box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.5);
 }

 .forum-topic .nav-tabs>li>a {
     margin-right: 2px;
     line-height: 1.42857143;
     border: 1px solid transparent;
     border-radius: 4px 4px 0 0;
     color: black;
     font-size: 14px;
     font-weight: bold;
 }
 .forum-topic .nav-tabs
 {
     margin-top:-15px;
 }

 .features{
     padding: 11px;
     min-height: 1%;
     overflow: hidden;
 }

 .feature-wrap {
     margin-bottom: 35px;
 }

 .feature-wrap h2 {
     margin-top: 10px;
     font-size: 14px;
     color:black;
     font-weight: bold;
     line-height: 1;
 }
 .feature-wrap h3
 {
     font-family: 'Open Sans', sans-serif;
 }

 /*.feature-wrap .pull-left {
     margin-right: 25px;
 }*/

 .feature-wrap i {
     font-size: 25px;
     height: 50px;
     width: 50px;
     line-height: 45px;
     margin: 3px;
     border-radius: 100%;
     /*line-height: 81px;*/
     text-align: center;
     background: #ffffff;
     color: #2ECC71;
     border: 3px solid #ffffff;
     box-shadow: inset 0 0 0 5px #f2f2f2;
     -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
     -webkit-transition: 500ms;
     -moz-transition: 500ms;
     -o-transition: 500ms;
     transition: 500ms;
     float: left;
     margin-right: 25px;
 }

 .feature-wrap i:hover {
     background: #2ECC71;
     color: #fff;
     box-shadow: inset 0 0 0 5px #2ECC71;
     -webkit-box-shadow: inset 0 0 0 5px #2ECC71;
     border: 3px solid #2ECC71;
 }
 .msg-wrap a{
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     color: #676464;
     line-height: 1.471;
 }
 .tab-section{
     padding-top:15px;
 }
 .btn-info {
     color: #46b8da !important;
     background-color: transparent;
     border-color: #46b8da;
 }
 .lesson-page .tab-section .nav-tabs{border-bottom: 0px solid #ddd;}
 .lesson-page .form-group .textarea-resize{resize: none}

 /* start CSS of ---- DISCUSSION  ---- page */
 .lesson-page .tab-pane .author img{width: 64px; height: 64px;}
 .message-wrap
 {
     box-shadow: 0 0 3px #ddd;
     padding:0;
 }
 .msg
 {
     padding:5px;
     border-top:1px solid #ddd;
     margin:0;
 }
 .msg.odd {
     background-color: #FFFFFF;
 }
 .msg.even {
     background-color: #F4F6F8;
 }
 .msg .author {
     border-right: 1px solid #ddd;
 }
 .msg-wrap {
     padding:10px;
 }
 .send-wrap
 {
     border-top: 1px solid #eee;
     padding:10px;
 }
 .msg-wrap .media-heading
 {
     color:#003bb3;
     font-weight: 700;
     font-family: 'Open Sans', sans-serif;
 }
 .msg.odd:hover {
     background: rgba(245, 245, 245, 0.55);
     box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.5);
 }
 .msg.even:hover {
     background: rgba(245, 245, 245, 0.55);
     box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.5);
 }
 /* end CSS ---- DISCUSSION  ---- page */

 /* start CSS ---- REPORT  ---- page */
 .lesson-page .report h2,.ask-for-help h2{text-align: center; font-weight: bold}
 .lesson-page .ask-for-help{text-align: center; font-weight: bold;}
 .lesson-page .report img{ padding:0 0 3% 6%;}
 /* end CSS of ---- REPORT  ---- page */
 /* end FORUM-PANEL csss */


 /*===========================form top end ======================*/


 /*-- Content Style --*/


 /*////====== school detail end=====///*/
 .post-footer-option li{
     float:left;
     margin-right:50px;
     padding-bottom:15px;
 }

 .post-footer-option li a{
     color:#AFB4BD;
     font-weight:500;
     font-size:1.3rem;
 }

 .photo-profile{
     border:1px solid #DDD;
 }

 .anchor-username h4{
     font-weight:bold;
 }

 .anchor-time{
     color:#ADB2BB;
     font-size:1.2rem;
 }

 .post-footer-comment-wrapper{
     background-color:#F6F7F8;
 }
 /*////====== school detail end=====///*/



 /*////====== exposure detail css =====///*/
 .post-form h4
 {
     margin: 0 !important;
     font-size: 16px;
     font-weight: bold;
     font-family: 'Open Sans', sans-serif;
 }
 .school-detail
 {
     margin-top: 12px;
 }
 .add-title {
     border-style: dotted;
     padding: 6px 12px 4px 10px;
     margin-right: 7px;
 }
 .ads-space
 {
     margin: 0 0 0 3em;
 }
.media-middle img
{
    width: 120px;
    height:120px;
}
.school-info
{
    margin-top: 12px;
}
.media-top img
{
    width: 40px;
    height: 40px;
}
 .text-muted {
     color: #777;
 }
 .follow {
     border-bottom: 1px solid rgba(178, 178, 178, 0.28);
     border-top: 1px solid rgba(178, 178, 178, 0.28);
     padding: 5px;
     margin-top: 10px;
 }
 li.status-message {
     padding: 0px;
     margin: 0px;
     width: 100%;
     list-style-type: none;
 }
 li.status-message a {
     color: #777;
     padding: 16px;
     font-weight: 500;
     font-size: 14px;
     font-family: 'Open Sans', sans-serif;
 }
 li.status-message a:hover
 {
     color:#445261;
 }
 .share-option {
     position: relative;
     display: inline-block;
 }
 .media-detail, .media-body
 {
     overflow: visible !important;
 }


/*===========================exposure css end======================*/

/*===========================exposure  category class css ======================*/

/*.our-service .detail {
    margin: 0 20px;
   background-color: #00AEEF;
    padding: 10px 20px;
    border-radius: 12px;
    position: relative;
    min-height: 122px;
}*/
.category-active
{
    background-color:#008080 !important;
    color:#fff !important;
}

.owl-item
{
    width:160px;
} 
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
.grabbing {
  /*cursor: url(../images/grabbing.png) 8 8, move;*/
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  /*-ms-backface-visibility: hidden;*/
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.exposure-list {
  background-color:#ccc;
    padding: 9px;
  position: relative;
  margin-top: 12px;
}
.exposure-list .item {
   margin: 0 20px;
    border: 1px solid #00AEEF;
    padding: 10px 20px;
    border-radius: 12px;
    position: relative;
    min-height: 122px;
}
.exposure-list .item img {
 /* width: 100%;*/
     margin: 0 0 0 21px;
}
.exposure-list .customNavigation .prev, .exposure-list .customNavigation .next {
      position: absolute;
    top: -15%;
    font-size: 24px;
    color: #2b3890;
    z-index: 1;
}
.exposure-list .customNavigation .prev {
  left: -10px;
}
.exposure-list .customNavigation .next {
  right: -10px;
}
a.create-btn:hover
{
    color:#fff;
    opacity:0.8;
}
 .create-btn{
     border: 1px solid;
     border-radius: 2px;
     box-sizing: content-box;
     font-size: 12px;
     -webkit-font-smoothing: antialiased;
     font-weight: bold;
     padding: 6px 8px;
     position: relative;
     text-align: center;
     text-shadow: none;
     vertical-align: middle;
     background-color: #4267b2;
     border-color: #4267b2;
     color: #fff;
     line-height:3;
     text-transform: capitalize;
     margin-left: -8px;
 }
.close-btn
{
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 4px 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    background-color: #ddd;
    border-color: #ddd;
    color:#4b4f56;
    margin-top: 5px;
    text-transform: capitalize;
    margin-left: -8px;
}
.category_title p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #445261;
    margin-top: 12px;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0 10px;
}
 .category_title p:hover
 {
     opacity:0.8;
     background-color:#008080;
     color: #fff;
 }
 .custom-hidden{
     display: none;
 }
 .custom-visible{
     display: block;
 }
 .detail{
     cursor: pointer;
 }
 .custom-active-tab{
     background-color: red;
 }
 .category_user h3 img  {
     float: left;
     height: 40px;
     margin-top: 0px;
 }
.category_user h3 a {
     width: 100% !important;
     /*float: left;*/
     color: #000;
     font-size: 19px;
     margin-top: 20px;
     font-weight: bold;
     margin-bottom: 5px !important;
 }
 .category-img
 {
     width:250px;
 }
 .breadcrump a {
     border-right: 1px solid #ccc;
     color: #008080;
     margin-right: 10px;
     padding: 0 10px 0 0;
 }
 .exposure-subdetail .category_user .read_more  {
     float: right;
     padding: 3px 8px;
     font-size: 12px;
     border: 1px solid #aaa;
     border-radius: 3px;
     background-color: rgba(0,0,0,0.2);
     color: #333;
 }
.exposure-subdetail .category_user .read_more:hover
 {
     opacity: 0.8;
 }


 /*==============================extra css =========================================*/
 .nav>li>a>img {
     max-width: none;
 }
 .user-profile img {
     width: 29px;
     height: 29px;
     border-radius: 50%;
     margin-right: 10px;
 }
 .search {
     position: relative;
     background: #f3f4f5;
     border: 1px solid #D8D8D8;
     width:340%;
     margin-top:9px;
 }
 .search input[type="text"] {
     margin: 0px 0;
     padding: 8px 16px;
     outline: none;
     color: #5a5a5a;
     background: none;
     border: none;
     width: 91.33333%;
     line-height: 1.5em;
     position: relative;
     font-size: 0.8725em;
     -webkit-appearance: none;
     text-transform: capitalize;
 }
 .search input[type="submit"] {
     background: url(../images/search.png) no-repeat 0px 1px;
     border: none;
     cursor: pointer;
     width: 24px;
     outline: none;
     position: absolute;
     height: 24px;
     top: 6px;
     right: 5px;
 }
 .search form {
      width: 100%;
 }
 .container-content
 {
     margin-top: 16px;
 }
 .navbar-fixed-top {
     position: fixed;
     right: 0;
     left: 188px !important;
     z-index: 1030;
   
 }
 .tab_menu
 {
     margin-top: 72px;
 }
 .navbar-fixed-top {
     width: calc(100% - 205px) !important;
}


/*=================== post detail css=====================*/
.post-detail
{
    margin-top:12px;
}

.label-default {
    background-color: #777;
}
.star-rating {
    display: inline;
    padding: .2em .6em .3em;
    /* font-size: 75%; */
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: right;
    margin-top: 4px;
    margin-left: 3px;
}
.views_boost{
    list-style-type: none;
    margin: 7px 0 20px;
}
 .views_boost a p{
    font-size: 14px;
 }
 .boost-alert {
     display: block;
     font-size: 12px;
     color: #a94442 ;
     float: left;
     padding: 12px;
     margin-bottom: 12px;
 }
 span.create-name
 {
     font-family: 'Open Sans', sans-serif;
     font-size: 17px;
     font-weight: bold;
     line-height: 3;
 }


 /*========== start BOOST POPUP ===================*/
 .boost-btn {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 4px 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
    margin-top: 5px;
    text-transform: capitalize;
    margin-left: -8px;
}
  .modal-header
 {
     background-color:#f6f7f9 !important;
 }

 .preview
 {
    height: 100px;
    margin: 5px;
    float: left;
    padding: 15px 18px;
    display: block;
}
.close_icon{
    position: absolute;
    right: -1px;
    top: 6px;
    cursor: pointer;
}
.close_btn{
    position: relative;
    width: 110px;
    float: left;
}
 /*start SCROLL BOX */
 .scrollBox {
     border: none;
     padding: 5px;
     /*font: 24px/36px sans-serif;*/
     width: 100%;
     height: 360px;
     overflow: scroll;
 }
 .scroll_form{
     margin: 0 20px;
 }

 /* Scrollbar styles */
 ::-webkit-scrollbar {
     width: 12px;
     height: 12px;
 }

 ::-webkit-scrollbar-track {
     background: #f5f5f5;
     border-radius: 10px;
 }

 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: #ccc;
 }
 ::-webkit-scrollbar-thumb:hover {
     background: #999;
 }
 /*end SCROLL BOX */
 h4.modal-title {
     font-family: 'Open Sans', sans-serif;
     color: #002d96;
     font-size: 16px;
     text-transform: uppercase;
     font-weight:bold;
 }
 .modal-body {
     padding: 10px 40px 70px 15px;
 }
 div#OR {
     height: 30px;
     width: 30px;
     border: 1px solid #C2C2C2;
     border-radius: 50%;
     font-weight: bold;
     line-height: 28px;
     text-align: center;
     font-size: 12px;
     float: right;
     position: absolute;
     right: -16px;
     top: 40%;
     z-index: 1;
     background: #DFDFDF;
     font-family: 'Open Sans', sans-serif;
 }
 .boost-footer{margin-bottom: -8%}
 /*================= end BOOST POPUP ==========================*/
 .media01 img
    {
        width:600px;
    }



 /* ==============================css for ads div======================================*/
 .feature-box ul li
 {
     list-style-type: square;
     /*margin: 0 0 0 3em;*/
     color:#777;
     text-align: justify;
 }
 .box, .feature-box {
     margin-bottom: 30px;
 }
 .feature-box {
     background-color: #fff;
     border-radius: 6px;
     padding: 14px;
     position: relative;
     text-align: center;
 }
 .feature-box-image {
     height: 170px;
     width: 100%;
     /*margin: 31px 0 27px;*/
     vertical-align: bottom;
 }
 .feature-box-title {
     font-size: 18px;
     margin: 0;
     line-height:2;
 }
 .feature-box p {
     font-size: 15px;
     margin-bottom: 33px;
 }
 .feature-box:hover {
     -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
     -moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
     box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
     background-color: #ecf0f5;
 }
 .btn-block
 {
     background-color: #4267b2 !important;
 }
 .btn-block:hover
 {
     opacity: 0.8 !important;
     color:#fff;
 }
 .product_price {
     font-weight: 700;
     color: #639;
     font-size:20px;
 }
 .product_price span {
     color: #639;
     font-weight: 400;
     font-size:20px;
 }

 /* ==============================css for ads div end ======================================*/

 /*google-style-expanding-thumbnail image css start*/

 .gallery-items {
     font-size: 0;
     padding-left: 18px;
     margin-top: 8px;
 }

 .gallery-item {
     display: inline-block;
     vertical-align: top;
     -webkit-transition: height 500ms ease;
     -o-transition: height 500ms ease;
     transition: height 500ms ease;
 }

 .gallery-expander {
     position: absolute;
     left: 0;
     right: 0;
     overflow: hidden;
     max-height: 0;
     -webkit-transition: max-height 500ms ease;
     -o-transition: max-height 500ms ease;
     transition: max-height 500ms ease;
 }

 .gallery-contents { position: relative; }

 .gallery-contents:after {
     display: block;
     position: absolute;
     bottom: 0px;
     left: 50%;
     margin-left: -30px;
     width: 0;
     height: 0;
     content: '';
     border-left: 30px solid transparent;
     border-right: 30px solid transparent;
     border-bottom-style: solid;
     border-bottom-width: 0px;
     -webkit-transition: border-bottom-width 500ms ease;
     -o-transition: border-bottom-width 500ms ease;
     transition: border-bottom-width 500ms ease;
 }

 .gallery-item.active .gallery-contents:after { border-bottom-width: 30px; }



 /*ul {*/
     /*margin: 0;*/
     /*padding: 0;*/
     /*list-style: none;*/
     /*text-align: center;*/
 /*}*/



 .gallery-item .thumbnail {
     position: relative;
     width: 200px;
     height: 200px;
     overflow: hidden;
     cursor: pointer;
 }

 .gallery-item .thumbnail > img {
     position: absolute;
     top: 50%;
     margin-top: -300px;
     max-width: 300px;
 }

 .gallery-item .title {
     text-align: center;
     margin-top: 20px;
     padding-bottom: 20px;
     font-size: 18px;
     font-weight: bold;
 }

 .gallery-contents:after { border-bottom-color: #34495e; }

 .gallery-expander { background: #34495e; }


 @media (min-width: 640px) and (max-width: 999px) {

     .gallery-expander-contents { width: 640px; }
 }
 @media (max-width: 639px) {

     .gallery-expander-contents { width: 100%; }
 }

 .gallery-expander-contents:after {
     clear: both;
     display: table;
     content: '';
 }

 .gallery-expander-contents > div.col {
     float: left;
     width: 480px;
 }
 @media (min-width: 640px) and (max-width: 999px) {

     .gallery-expander-contents > div.col { width: 310px; }
 }
 @media (max-width: 639px) {

     .gallery-expander-contents > div.col {
         float: none;
         padding: 25px 20px 0;
         width: auto;
     }
 }

 .gallery-expander-contents > div.col + div.col { margin-left: 40px; }
 @media (min-width: 640px) and (max-width: 999px) {

     .gallery-expander-contents > div.col + div.col { margin-left: 20px; }
 }
 @media (max-width: 639px) {

     .gallery-expander-contents > div.col + div.col { margin-left: 0px; }
 }

 .gallery-expander-contents div.close {
     position: absolute;
     top: 10px;
     right: 20px;
 }

 .gallery-expander-contents div.title {
     font-weight: 500;
     color: #fff;
     text-align: justify;
     font-size:22px;
     font-family: 'Open Sans', sans-serif;


 }

 .gallery-expander-contents div.contents {
     margin-top: -38px;
     border-top: 1px solid #BCB098;
     border-bottom: 1px solid #BCB098;
     padding: 10px 0;
     font-size: 14px;
     line-height: 24px;
     color: #fff;
     font-family: 'Open Sans', sans-serif;
 }

 .gallery-expander-contents div.image > img {
     width: 100%;
     display: block;
 }
 .image
 {
     width:50%;
 }
 span.title_detail
 {
     line-height: 16px;
     font-size: 13px;
     margin: -3px 0 0 -3px;
     padding: 3px 0 16px 3px;
     font-family: 'Open Sans', sans-serif;
 }

 /*flex-images css start from here */
 .flex-images { overflow: hidden; }
 .flex-images .item { position: relative;
     width: 120px;
     height: 80px;
     overflow: hidden;
     cursor: pointer; float: left; margin: 4px; border: 1px solid #eee; box-sizing: content-box; overflow: hidden; position: relative;  }
 .flex-images .item img { display: block; width: auto; height: 100%; }.gallery-item .thumbnail {

                                                                      }
 .item {
     display: block;
     padding: 4px;
     margin-bottom: 20px;
     line-height: 1.42857143;
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 4px;
     -webkit-transition: border .2s ease-in-out;
     -o-transition: border .2s ease-in-out;
     transition: border .2s ease-in-out;
 }
 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;

 }
 .num_notelist
 {
     text-align: center;
     padding:12px;
 }
 .num_notelist h4
 {
     font-size: 15px;
     font-family: 'Open Sans', sans-serif;
 }
 .num_notelist:hover
 {
     opacity: 0.6;
 }


 /*google-style-expanding-thumbnail image css start*/

 .gallery-items h4{
     text-align: center;
     color: #fff;
     font-size: 13px;
     font-weight: bold;
     font-family: 'Open Sans', sans-serif;
 }

 .gallery-item {
     display: inline-block;
     vertical-align: top;
     -webkit-transition: height 500ms ease;
     -o-transition: height 500ms ease;
     transition: height 500ms ease;
 }

 .gallery-expander {
     position: absolute;
     left: 15px;
     right: 0;
     overflow: hidden;
     max-height: 0;
     -webkit-transition: max-height 500ms ease;
     -o-transition: max-height 500ms ease;
     transition: max-height 500ms ease;
 }

 .gallery-contents { position: relative; }

 .gallery-contents:after {
     display: block;
     position: absolute;
     bottom: -21px;
     left: 50%;
     margin-left: -30px;
     width: 0;
     height: 0;
     content: '';
     border-left: 30px solid transparent;
     border-right: 30px solid transparent;
     border-bottom-style: solid;
     border-bottom-width: 0px;
     -webkit-transition: border-bottom-width 500ms ease;
     -o-transition: border-bottom-width 500ms ease;
     transition: border-bottom-width 500ms ease;
 }

 .gallery-item.active .gallery-contents:after { border-bottom-width: 30px; }




 .gallery-item {
     text-align: left;
     font-size: 25px;
     margin: 0 5px;
     padding: 0px 0;
 }

 .gallery-item .thumbnail {
     position: relative;
     width: 140px;
     height: 140px;
     overflow: hidden;
     cursor: pointer;
     box-shadow:2px 2px 2px 1px #ddd;
 }

 .gallery-item .thumbnail > img {
     position: absolute;
     top: 50%;
     margin-top: -300px;
     max-width: 300px;
 }
 .gallery-item .thumbnail ul
 {
     line-height: 0.9;
     margin: 0 0 0 0.3em;
     padding: 0;
 }
 .gallery-item .thumbnail ul li a
 {
     color: #777;
     font-size: 13px;
text-align: center;
 }

 .gallery-item .title {
     text-align: center;
     margin-top: 20px;
     padding-bottom: 20px;
     font-size: 18px;
     font-weight: bold;
 }

 .gallery-contents:after { border-bottom-color: #34495e; }

 .gallery-expander { background: #34495e; }

 .gallery-expander-contents {
     margin: 0 auto;
     width: 1000px;
     padding: 20px 0;
 }
 @media (min-width: 640px) and (max-width: 999px) {

     .gallery-expander-contents { width: 640px; }
 }
 @media (max-width: 639px) {

     .gallery-expander-contents { width: 100%; }
 }

 .gallery-expander-contents:after {
     clear: both;
     display: table;
     content: '';
 }

 .gallery-expander-contents > div.col {
     float: left;
     width: 428px;
 }
 @media (min-width: 640px) and (max-width: 999px) {

     .gallery-expander-contents > div.col { width: 100%; }
 }
 @media (max-width: 639px) {

     .gallery-expander-contents > div.col {
         float: none;
         padding: 25px 20px 0;
         width: auto;
     }
 }

 .gallery-expander-contents > div.col + div.col
 {
     margin-left: -87px;
     margin-top: -27px;
 }
 @media (min-width: 640px) and (max-width: 999px) {

     .gallery-expander-contents > div.col + div.col { margin-left: 20px; }
 }
 @media (max-width: 639px) {

     .gallery-expander-contents > div.col + div.col {
         margin-left: 0px;
     }
 }
     .gallery-expander-contents div.image > img {
         width:100%;
         display: block;
     }

     .gallery-expander-contents div.contents {
         margin-top: -29px !important;
     }

     .gallery-expander-contents div.close {
         position: absolute;
         top: 10px;
         right: 20px;
     }

     .gallery-expander-contents div.title {
         font-weight: 500;
         color: #fff;
         text-align: justify;
         font-size: 22px;
         font-family: 'Open Sans', sans-serif;

     }

     .gallery-expander-contents div.contents {
         margin-top: -38px;
         border-top: 1px solid #BCB098;
         border-bottom: 1px solid #BCB098;
         padding: 10px 0;
         font-size: 14px;
         line-height: 24px;
         color: #fff;
         font-family: 'Open Sans', sans-serif;
     }

     .gallery-expander-contents div.image > img {
         width: 100%;
         display: block;
     }

     .image {
         width: 50%;
         margin: 0 0 0 3em;
     }

     span.title_detail {
         line-height: 16px;
         font-size: 13px;
         margin: -3px 0 0 -3px;
         padding: 3px 0 16px 3px;
         font-family: 'Open Sans', sans-serif;
     }

     /*flex-images css start from here */
     .flex-images {
         overflow: hidden;
     }

     .flex-images .item {
         position: relative;
         width: 120px;
         height: 80px;
         overflow: hidden;
         cursor: pointer;
         float: left;
         margin: 4px;
         border: 1px solid #eee;
         box-sizing: content-box;
         overflow: hidden;
         position: relative;
     }

     .flex-images .item img {
         display: block;
         width: auto;
         height: 100%;
     }

     .gallery-item .thumbnail {

     }

     .item {
         display: block;
         padding: 4px;
         margin-bottom: 20px;
         line-height: 1.42857143;
         background-color: #fff;
         border: 1px solid #ddd;
         border-radius: 4px;
         -webkit-transition: border .2s ease-in-out;
         -o-transition: border .2s ease-in-out;
         transition: border .2s ease-in-out;
     }

     * {
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;

     }

     .num_notelist {
         text-align: center;

     }

     .num_notelist h4 {
         font-size: 15px;
         font-family: 'Open Sans', sans-serif;
     }

     .num_notelist:hover {
         opacity: 0.6;
     }

     .feature-note i {
         font-size: 40px;
         height: 50px;
         width: 50px;
         margin: 40px;
         /* border-radius: 100%; */
         line-height: 50px;
         text-align: center;
         /*background: #ddd;*/
         color: #c52d2f;
         /* border: 1px solid #ddd; */
         /* box-shadow: inset 0 0 0 5px #f2f2f2; */
         /* -webkit-box-shadow: inset 0 0 0 5px #3c2a2a; */
         -webkit-transition: 500ms;
         -moz-transition: 500ms;
         -o-transition: 500ms;
         transition: 500ms;
         /* float: left; */
         margin-right: 25px;
         margin-top: 0;
     }

     .feature-note {
         margin-bottom: -43px;
         overflow: hidden;
     }




 /*========== css for about us page=============*/
 ._aboutimages
 {
     margin-top: 70px;
 }
 .about_left p {
     color: #777;
     font-size: 0.95em;
     line-height: 1.8em;
     text-align: justify;
 }
 .courses_box1 {
     /*padding: 3em 0;*/
     margin-top:-32px;
 }
 ul.about_links {
     padding: 0;
     margin: 1em 0;
     list-style: none;
 }
 ul.about_links li {
     padding: 0px 20px 10px;
     position: relative;
 }
 ul.about_links li a {
     color: #777;
     font-size: 0.95em;
 }
 ul.about_links li:before {
     color: #0e6eb7;
     content: "\f10c";
     font-family: 'fontawesome';
     font-size: 12px;
     height: 5px;
     left: 5px;
     top: 4px;
     position: absolute;
     width: 5px;
 }
 .radial_but:before {
     content: "";
     position: absolute;
     z-index: -1;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: #2f374c;
     border-radius: 100%;
     -webkit-transform: scale(2);
     transform: scale(2);
     -webkit-transition-property: transform;
     transition-property: transform;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
 }
 .radial_but {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
     position: relative;
     overflow: hidden;
     background: #f1b458;
     -webkit-transition-property: color;
     transition-property: color;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     padding: 12px 30px;
     color: #fff;
 }
 .radial_but:hover, .radial_but:focus, .radial_but:active {
     color: white;
 }



 .label-new {
     margin-left: 5px;
 }
 .label-new {
     background: #51a852;
 }
 .tabs-right>li.active>a, .tabs-right>li.active>a:focus, tabs-right.nav-tabs>li.active>a:hover {
     color: #fff;
     cursor: default;
     background-color:#0e6eb7!important;
     border: 1px solid #ddd;
     border-bottom-color: transparent;
 }
 .nav>li>a:focus, .nav>li>a:hover {
     text-decoration: none;
     background-color: black;
     color: black;
 }
 .nav-tabs > li > a {
     border-radius: 0;
     color: #333;
 }
 .tabs-right>li {
     margin-left: -1px;
     border-bottom: 1px solid #eee;
 }
 .staff_list h1{
     color:#676464;
     font-size: 2em;
     text-align: justify;
     margin-bottom: 1em;
     text-transform: uppercase;
 }
 .staff_list h4{
     color:#676464;
     font-size: 1.5em;
     text-align: justify;
     margin-bottom: 1em;
     text-transform: uppercase;
 }
 .staff_list p{
     line-height:1.8;
 }
 /*=========css for suppport page===================*/
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}

.h1 small {
font-size: 24px;
}
address
{
  margin-bottom: 10px !important; 
}
.well-sm
{
  padding: 20px !important;
}
.company_name
{
  font-size: 17px;
   color:#222;
}
/*=========css for contact page===================*/
.jumbotron {
background:  #4267B2;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}

.h1 small {
font-size: 24px;
}
address
{
  margin-bottom: 10px !important; 
}
.well-sm
{
  padding: 20px !important;
}
.company_name
{
  font-size: 17px;
   color:#222;
}

/*=========css for contact page===================*/

 .product-block .product-img img {
     width: 100px;
 }

 /*=========css for user-page(timeline)===================*/
 span.profile_user_name
 {
     color:#1d2129;
     font-weight:600;
     font-size:13px;
 }
 .users-detail
 {
     margin-left: 27px;
     /* float: right; */
     margin-top: 1px;
 }
 .users-detail p
 {
     font-size: 12px;
     line-height: 12px;
     color: #1d2129;
     font-weight: 500;
 }
 span._12
 {
     color: #365899;
     cursor: pointer;
 }

.student-detail p
{
 line-height:0.8;
    font-weight:400;
}
hr._horzline
{
    margin-top: 5px;
    margin-bottom: -1px;
    border: 0;
    border-top: 1px solid #ddd;
}
h2._head1
{
    font-size: 17px;
    line-height: 1;
    margin-top: 10px;
    text-transform: uppercase;
    margin-left: 1em;
}
 /*=========user-page(timeline)end ===================*/